{% extends 'kernel_layout.j2' %}


{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container cover-container-profile">




            <div class="form-box profile-data">

                {# profile nav #}
                {% if myself %}
                <div class="navigation">
                    <ul class="nav nav-tabs">
                        {% for item in nav.profile %}
                        <li class="{{ 'active' if item.is_active else '' }}">
                            <a href="{{ item.url }}">{{ item.label }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}



                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <img src="{{ user.gravatar('200x200') }}" class="avatar"/>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">

                        <h2>Edit details</h2>

                        {# display flash messages #}
                        {% include 'partials/flash-messages.j2' %}

                        <form action="" method="post" name="profile-editor">
                            {{ form.hidden_tag() }}


                            {# submit #}
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Update details">
                            </div>
                        </form>



                    </div>
                </div>




            </div>


        </div>
    </div>
</div>

{% endblock %}