# os specific files
.DS_Store
ehthumbs.db
Thumbs.db
__pycache__

# ide ignores
.buildpath
.project
.settings
.idea
nbproject
www.esproj

# virtual environment
/env


# build ignores
/build
/dist
/data
/*.egg-info
.coverage
/config.yml



# install ignores
/config
/LICENSE
/migrations
/nose.ini
/project
/requirements
/var
/uwsgi.ini
/wsgi.py
/cli
/web



