{% extends 'kernel_layout.j2' %}


{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">


            <div class="form-box">
                <h2>Resend confirmation email</h2>

                {# display flash messages #}
                {% include 'partials/flash-messages.j2' %}

                <p class="user-result-message-form">Enter your email address to re-send confirmation message.</p>

                    {# form #}
                    <form action="" method="post" name="login">
                        {{ form.hidden_tag() }}


                        {# email #}
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{ form.email(class='form-control', placeholder='Email') }}
                            <div class="errors">{% for error in form.errors.email %}<span>{{ error }}</span><br>{% endfor %}</div>
                        </div>


                        {# recaptcha #}
                        <div class="form-group">
                            {{ form.recaptcha() }}
                            {% include 'recaptcha/v1.j2' %}
                        </div>


                        {# submit #}
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Resend confirmation">
                        </div>

                    </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}