{% extends 'kernel_layout.j2' %}


{% block content %}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">


            <div class="form-box">
                <h2>Message sent</h2>
                <p class="user-result-message">Email confirmation has been resent. Please check your inbox.</p>
                <div class="controls">
                    <a href="{{ url_for('user.login') }}" class="btn btn-lg btn-primary btn-block">Back to login</a>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}