<script type="text/javascript">var RecaptchaOptions = {{ options | safe }};</script>
<script type="text/javascript" src="{{ script_url }}"></script>
<noscript>
  <iframe src="{{ frame_url }}" frameborder="0"></iframe><br>
  <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
  <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
</noscript>