<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>413 Request Entity Too Large</title>
    {% include 'errors/styles.j2' %}

</head>
<body>

<h1>413 Request Entity Too Large</h1>

{% if not error.description %}
    <p>The data value transmitted exceeds the capacity limit.</p>
{% else %}
    <p>{{error.description}}</p>
{% endif %}

</body>
</html>