<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>431 Request Header Fields Too Large</title>
    {% include 'errors/styles.j2' %}

</head>
<body>

<h1>431 Request Header Fields Too Large</h1>

{% if not error.description %}
    <p>One or more header fields exceeds the maximum size.</p>
{% else %}
    <p>{{error.description}}</p>
{% endif %}

</body>
</html>