<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>451 Unavailable For Legal Reasons</title>
    {% include 'errors/styles.j2' %}

</head>
<body>

<h1>451 Unavailable For Legal Reasons</h1>

{% if not error.description %}
    <p>Unavailable for legal reasons.</p>
{% else %}
    <p>{{error.description}}</p>
{% endif %}

</body>
</html>