<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>503 Service Unavailable</title>
    {% include 'errors/styles.j2' %}

</head>
<body>

<h1>503 Service Unavailable</h1>

{% if not error.description %}
    <p>The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.</p>
{% else %}
    <p>{{error.description}}</p>
{% endif %}

</body>
</html>