<html>
    <body style="font-family: Helvetica, Arial, sans-serif; padding: 0; margin: 0;">

    <table style="width: 100%; border: solid #6f5499; border-width: 10px 0 0 0">
        <tr>
            <td style="text-align: center">


            <div class="container" style="max-width: 700px; min-width: 300px; display: inline-block; text-align: left; background: #fff; padding: 30px;">

                {# Header #}
                <h1 style="display: block; padding: 0 0 15px 0; margin-bottom: 30px; border: solid #adadad; border-width: 0 0 1px 0; font-weight: normal; letter-spacing: -1px; font-size: 24px;">
                    Welcome!
                </h1>

                {# Body #}
                <div class="welcome" style="font-size: 14px; line-height: 20px;">
                    <p>Thank you for registering and welcome to our site! </p>
                </div>

                {# Disclaimer #}
                <div class="disclaimer" style="margin-top: 50px; padding-top: 20px; font-size: 11px; line-height: 17px; border: solid #d5d5d5; border-width: 1px 0 0 0; color: #7b7b7b;">
                    This is not spam. It is a one-time message that was sent to you as a result of your actions on our website
                    <a href="http://flak.eu">flask.eu</a>. If you don't know what this is then simply delete the message and we won't bother
                    you again.
                </div>

            </div>








            </td>
        </tr>
    </table>


    </body>
</html>